:root {
   --color-bg1: #121212;
   --color-bg2: #242424;
   --color-bg3: #363636;
   --color-gamma: #82e7d6;
   --color-contrast: #a8e7e5;
   --color-light: #e6f5ff;
   --color-link: #fdcdb7;
   --color-link-hover: #ff8b56;

   --main-font: Verdana, Geneva, sans-serif
   /*--main-font: Consolas, "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
   */
}

p {
   color: var(--color-light);
}

body {
    margin:0;
    padding: 0;
    background: var(--color-bg1);
    color: var(--color-light);
}

/* MAIN CONTENT */


canvas {
    margin-top: 100px;
}

main {
    width: 100%;
    /* background-color:#ebebeb; */
    margin: 0;
    padding: 0;

    box-sizing: border-box;

    font-family: var(--main-font);
    font-size: 16px;
}

.content {
    width: auto;
    height: auto;

    margin: 0;
    padding: 1rem 2rem;
    background: var(--color-bg2);
}

.profile-pic {
   border-radius: 50%;
   width: 180px;
}

.tool-primary {
   background-color: #1b4b43;
   color: var(--color-contrast);
}

.tool-secondary {
   color: var(--color-link);
}

/* .content .bg-image {
    position: fixed;

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    background: white url("/media/images/glow-bg.JPG") no-repeat;
    background-size: 100vmax 100vmax;

    filter: blur(50px);

    z-index: -1;
} */

.content .video {
    /* you can control the width here */
}

.content .video > div {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}

.content .video iframe {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

code {
    padding-left: 4px;
    padding-right :4px;

    color: crimson;
    background-color: #f1f1f1;

    font-family: Consolas, "courier new";
    font-size: 110%
}

.notice {
    width: auto;
    margin: 0;
    padding: 1rem 0.5rem;

    border-left: 8px solid red;
    background-color: rgb(250, 141, 152);
    color: white;

    text-align: center;
}

a {
    color: var(--color-link);
    text-decoration: none;
}

a:hover {
   color: var(--color-link-hover);
   text-decoration: none;
}


/*
    TOOLTIP CODE FROM W3SCHOOLS.com
*/



/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 300px;
    background-color: var(--color-gamma);
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 20%;
    left: 90%;
    margin-left: 60px;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;

    font-size: 1rem;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    right: 100%;
    top: 50%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent var(--color-gamma) transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}




/* RESUME STYLES */



/* TECHNICAL SKILLS */
section h3 {
    color: var(--color-contrast);
}

li.skill {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

li.skill .elements {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

li.skill .elements li {
    margin: 1rem;
    padding: 0.5rem 0.5rem;
    list-style-type: none;

    color: var(--color-contrast);

    background-color: var(--color-bg1);

    border: 2px solid var(--color-contrast);
    border-radius: 2rem;
}

li.skill .elements li:hover {
    background-color: var(--color-contrast);
    border-color: var(--color-bg2);
    color: var(--color-bg1);
    cursor: pointer;
}


/* WORK EXPERIENCE */
.job, .project, .activity, .education {
   display: flex;
   flex-direction: column;
   justify-content: space-between;

   /*width: 100%;*/
   background-color: var(--color-bg3);
}

.resume-list {
   background-color: var(--color-bg3);
   list-style-type: none;
   padding: 0;
}

.resume-list > li {
   padding-left: 16px;
   padding-bottom: 16px;
}

.resume-list a {
   font-style: italic;
}
.time-and-place {
   width: 150px;
}

.responsibility {
   margin-bottom: 4px;
}

/* small screens */
@media(min-width: 800px) {
    
    main {
        padding: 3% 10%;
    }

   .job, .project, .activity, .education {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
  
      /*width: 100%;*/
  }

}

/* large screens */
@media(min-width:1200px) { 

    main {
        padding: 3% 20%;
    }

    main.home .content {
        /*padding: 3% 20%;*/
    }

}